*{
	padding: 0;
	margin:0; 
}
ul,ol,li{
	list-style:none;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:blue;
}
.header{
	height:173px;
	background-color: #eeeeef;
}
.logo{
	text-align: center;
	height: 125px;
}
.logo img{
	margin-top: 30px;
}
.nav{
	width: 672px;
	height: 45px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 23px;
}
.nav li{
	float: left;
	height: 45px;
	padding: 0 30px;
	line-height: 45px;
	background: url(./line.png) no-repeat right center;
	font-size: 14px;
}
.nav li a{
	display: block;
	height: 42px;
	border-bottom:3px solid #1e50ae;
}
.nav li:last-child{
	background:none;
}
.banner{
	width: 100%;
	height: 415px;
	background:url(./banner.png) no-repeat center;
	margin:0 auto;
}
.serve{
	width: 1200px;
	height: 807px;
	margin:0 auto;
}
.stbox{
	width: 1200px;
	height: 174px;
	float: left;
	margin:0 auto;
}
.stbox1{
	text-align: center;
	padding-top: 55px;
}
.stbox2{
	text-align: center;
	padding-top: 24px;
}
.sebox{
	height: 380px;
	width: 1200px;
	float: left;
	text-align: center;
	margin:0 auto;
}
.seboxc{
	height: 380px;
	width: 300px;
	float: left;
	margin:0 auto;
}
.seboxc img{
	text-align: center;
	margin-left: 60px;
}
.seboxs{
	font-size: 16px;
	text-align: center;
	padding-top: 15px;
	padding-left: 50px;
}
.seboxul{
	font-size: 14px;
	color: #c8c8c8;
	padding-left: 50px;
}
.seboxul li{
	list-style-image: url("circle.png");
	padding-top: 8px;
	text-align: left;
	list-style-position: inside;
	padding-left: 90px;
}
.rdbox{
	width: 1200px;
	height: 253px;
	float: left;
	text-align: center;
	margin:0 auto;
}
.rdboxc{
	width: 300px;
	height: 253px;
	float: left;
	margin:0 auto;
}
.rdboxc img{
	text-align: center;
	margin-left: 60px;
}
.column{
	width: 100%;
	height: 707px;
	background:url(2ba.png);
	margin: 0 auto;
}
.column1{
	height: 210px;
}
.column1 h2{
	text-align: center;
	font-size: 34px;
	color: #ffffff;
	padding-top: 60px;
}
.column1 p{
	text-align: center;
	font-size: 28px;
	font-family: Aparajita;
	padding-top: 20px;
	color: #ffffff;
}
.column2{
	width: 100%;
	height: 310px;
	margin:0 auto;
	padding-left:160px;
}
.column2 img{
	padding-right: 50px;
	display:inline-block;
	margin:0 auto;
}
.column21{
	padding-bottom: 100px;
}
.content{
	width: 100%;
	height: 914px;
	margin:0 auto;
}
.content1{
	width: 100%;
	height: 175px;
}
.content1 h2{
	padding-top: 50px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 34px;
}
.content1 p{
	text-align: center;
	font-size: 28.5px;
	font-family: Aparajita
}
.content2{
	width: 100%;
	height: 350px;
	margin: 0 auto;
}
.content-pic{
	float: left;
	width: 620px;
	height: 350px;
	background:url(gold.png) no-repeat;
	margin-left: 180px;
}
.content-text{
	width: 601px;
	height: 350px;
	float: left;
	margin-top: 75px;
	margin-left: 45px;
}
.content-text h2{
	font-size: 24px;
}
.content-font1{
	font-size: 18px;
	color: #333333;
}
.content-font2{
	font-size: 14px;
	color: #969696;
}
.content-font3{
	border:1px solid #1141a3;
	font-size: 16px;
	border-radius: 23px;
	color:#1141a3;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 42px;
}
.content3{
	height: 389px;
	width: 100%;
	float: left;
	display: inline-block;
}
.content3a{
	width: 1300px;
	height:175px;
	margin:0 auto;
	padding-left: 100px;
}
.contentul{
	width: 550px;
	height: 40px;
	float: left;
    display: inline-block;
}
.contentul li{
	font-size: 14px;
    text-align: center;
    line-height: 48px;
    color:#797979;
    border-bottom: 1px dashed #797979;
    margin: 0 21px;
}
.bottom{
	width: 100%;
	height: 105px;
	background-color: #f5f5f5;
	float: left;
	padding-top: 36px;
}
.bottom1{
	width: 1200px;
	height: 105px;
	margin:0 auto;
}
.bottom2{
	width: 200px;
	height: 105px;
	margin:0 auto;
	display: inline-block;
	padding-right:40px;
	padding-left: 40px;
}
.bottom2pic1{
	float: left;
}
.p1{
	font-size: 19px;
	margin-left: 25px;
}
.p2{
	font-size: 13px;
	margin-left: 25px;
}
.footer{
	width: 100%;
	height: 388px;
	float: left;
    background: #323232;
}
.footertop{
	width: 100%;
    height: 261px;
    border-bottom: 1px solid #404040;
    margin: 0 auto;
    padding-left: 180px;
}
.footertop1{
	width: 800px;
    height: 261px;
    float: left;
}
.footerlist{
	width: 90px;
    height: 261px;
    float: left;
    margin-right: 92px;
}
.footerlist1{
	font-size: 18px;
	margin-top: 77px;
	color: rgb(245,245,245);
}
.footerlist2{
	font-size: 14px;
	margin-top: 20px;
	color: rgb(245,245,245);
}
.foottop2{
	width: 500px;
    height: 261px;
    float: left;
}
.foottop22{
	margin-top: 74px;
    width: 500px;
    height: 148px;
    float: left;
}
.foottop2pic{
	width: 148px;
    height: 148px;
    float: left;
}
.foottop2b{
	width: 90px;
    height: 148px;
    float: left;
    border-right: 1px solid #9c9c9c;
}
.foottop2bt{
	margin: 0 35px;
    width: 20px;
    height: 148px;
    font-size: 18px;
    padding-top:5px;
    color: rgb(245,245,245);
}
.c{
	width: 260px;
    height: 148px;
    float: left;
}
.c1{
	margin-top: 15px;
    margin-left: 40px;
    font-size: 18px;
    color: rgb(245,245,245);
}
.c2{
	margin-left: 40px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    color: rgb(245,245,245);
}
.pic{
	width: 24px;
    height: 28px;
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
}
.footerbot{
	width: 100%;
	height:125px ;
	float: left;

}
.footerbot2{
	margin-top: 40px;
	float: left;
	width:100%;
	height: 15px;
}
.footerul{
	display: inline-block;
	height: 15px;
	padding-left: 450px;

}
.footerul li{
	border-right: 1px solid rgb(245,245,245);
	text-align: center;
	display: inline-block;
	color: rgb(245,245,245);
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	padding: 0 13px;
}
.fin1{
	margin-top: 23px;
	float: left;
	width: 100%;
	height: 15px;

}
.fin{
	font-size: 14px;
	width: 320px;
	text-align: center;
	height: 15px;
	margin: 0 auto;
	color: rgb(245,245,245);
}